@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* widht */
::-webkit-scrollbar{
    width: 5px;
}

/* track */
::-webkit-scrollbar-track{
    background: #f1f1f1;
}

/* handle */
::-webkit-scrollbar-thumb{
    background: #888;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: #555;
}

:root{
    --grad: linear-gradient(to bottom right, var(--blue), var(--white));
    --clip: polygon(52% 65%, 100% 38%, 100% 0, 0 0, 0% 38%);
    --shadow: rgba(50,50,93,0.25) 0px 30px 60px -12px, rgba(0,0,0,0.3) 0px 18px 36px -18px;
    --c: #eaeaea;
    --g: #74d800;
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

.top{
    height: 100vh;
    background-image: var(--grad) ;
    width: 100%;
    clip-path: var(--clip);
}

.box{
    width: 1000px;
    height: 600px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    position: absolute;
    background: var(--white);
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}

.left{
    width: 280px;
    height: 600px;
    border-right: 1px solid var(--c);
}

.right{
    height: 600px;
    width: calc(1000px-280px);
}

.topp{
    width: 280px;
    height: 50px;
    display: flex;
    border-bottom: 1px solid var(--c);
    justify-content: space-around;
    align-items: center;
}

.search_box{
    position: relative;
    margin: 0 10px;
    width: 270px;
    height: 50px;
    display: flex;
    border-bottom: 1px solid var(--c);
    justify-content: space-around;
    align-items: center;
}

.ico{
    background: var(--blue);
    padding: 5px;
    border-radius: 5px;
}

.icon1{
    color: white;
    width: 23px;
    height: 23px;
}

.in{
    border: none;
    outline: none;
    background: var(--c);
    padding: 10px 15px;
    border-radius: 5px;
    width: 220px;
}

.ava{
    height: 40px;
    width: 40px;
    margin-left: 7px;
    border-radius: 50px;
}

li{
    list-style: none;
}

.friend{
    display: flex;
    align-items: center;
    height: 60px;
    transition: 0.5s ease;
    border-bottom: 1px solid var(--c);
    justify-content: space-between;
}

.img_name{
    display: flex;
    align-items: center;
}

h3{
    font-size: 14px;
    margin-left: 7px;
}

p{
    margin-left: 7px;
    color: gray;
    font-size: 12px;
}

.p{
    margin-right: 10px;
}

.friend:hover{
    background: var(--c);
}

ul{
    height: calc(600px - 100px);
    overflow-y: auto;
}

span{
    color: green;
}

.right_top{
    height: 50px;
    border-bottom: 1px solid var(--c);
    width: calc(1000px - 280px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon2{
    margin-right: 20px;
    height: 23px;
    width: 23px;
    color: var(--blue);
}
.img_up{
    margin-right: -350px;
    height: 23px;
    width: 70px;
    color: var(--blue);
}


.mid{
    overflow-y: auto;
    width: 100%;
    border-bottom: 1px solid var(--c);
    height: calc(600px - 100px);
}

.btm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

form.form-css{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.ico3, form div{
    background: var(--blue);
    padding: 7px;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send_svg{
    height: 23px;
    width: 23px;
    color: white;
}

.in2{
    border: none;
    outline: none;
    background: transparent;
    width: 550px;
}

.me{
    margin: 10px;
    background: var(--blue);
    display: table;
    clear: both;
    padding: 10px;
    max-width: 80%;
    border-radius: 5px;
    float: right;
}

.u{
    margin: 10px;
    background: grey;
    display: table;
    clear: both;
    padding: 10px;
    max-width: 80%;
    border-radius: 5px;
    float: left;
}

.me p{
    color: white;
    font-size: 15px;
}

.u p{
    color: white;
    font-size: 15px;
}